*{
  margin: 0;
  padding: 0;
  border: border-box;
}
header{
  height: 15vh;
  display: flex;
  justify-content: space-between;
}
section div{
  height: 100vh;
  background-color: antiquewhite;
  border: 3px solid black;
}
h2{
  text-align: center;
}





.ejercicios{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: auto;
}
h4{
  text-align: center;
}
.ejercicios p{
  margin-bottom: 0px;
}
